#include <windows.h>

// Application Icon
101 ICON "app.ico"

// Enable visual styles (Common Controls v6)
1 24 "manifest.xml"

// Version Information to establish PE identity and mitigate generic heuristic flags
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Rabbany"
            VALUE "FileDescription", "IDM Trial Reset Utility"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "IDM Trial Reset"
            VALUE "LegalCopyright", "Copyright (C) 2026 Rabbany. All rights reserved."
            VALUE "OriginalFilename", "IDM Trial Reset.exe"
            VALUE "ProductName", "IDM Trial Reset"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
